body {
  background-color: $background-white;
  overflow-x: hidden;
  overflow: hidden;
}

h1, h2 {
  width: 100%;
}

.background-black-home {
  background-color: $background-black;
  height: calc(100vh - 84px);
}

.footer-home {
  text-align: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .footer-home {
      margin-top: 64px;
    }
  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .footer-home {
    margin-top: 64px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer-home {
    margin-top: 128px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer-home {
    margin-top: 128px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .footer-home {
    margin-top: 128px;
  }
}
