/* The grid: Four equal columns that floats next to each other */
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 90px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container-image {
  position: relative;
  display: none;
}

#projet-title {
  text-align: center;
  color: black;
  margin-bottom: 2em;
  font-size: 2em;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.project-name {
  text-align: center;
  margin-bottom: 0.5em;
  color: $bordeaux;
  font-size: 1.5em;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .columns {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .columns {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .columns {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .columns {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .columns {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
