<h2 class="project-name" data-aos="fade-up">HPlace</h2>
<figure class="image-effect" data-aos="fade-up">
  <div class="container-image">
    <!-- Expanded image -->
    <img id="hplace-expanded-img" style="width:100%">

    <!-- Image text -->
    <div id="imgtext" style="display:none;"></div>
  </div>
  <figcaption>
    <h3>HPlace<span>Une application mobile développée en 10 jours pendant le bootcamp du Wagon à Paris. Hplace est un réseau social pour les personnes hospitalisées pendant une longue durée afin d'organiser ou de participer à des événements dans leur hôpital. HPlace a pour but d'améliorer la qualité de vie des personnes malades à l'hôpital afin de lutter contre la solitude.</span></h3>
  </figcaption>
  <i class="fas fa-plus"><a href="https://hplace.fun" target="blank"></a></i>
</figure>

<div class="row columns" data-aos="fade-up">
  <div class="column">
    <%= image_tag "hplace11.png", class:"d-block", alt:"HPlace", id:"hplace-first-expanded-image", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
  </div>
  <div class="column">
    <%= image_tag "hplace2.png", class:"d-block", alt:"HPlace", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
  </div>
  <div class="column">
    <%= image_tag "hplace3.png", class:"d-block", alt:"HPlace", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
  </div>
  <div class="column">
    <%= image_tag "hplace4.png", class:"d-block", alt:"HPlace", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
  </div>
</div>

