<h2 class="project-name" data-aos="fade-up">Noa</h2>
<figure class="image-effect" data-aos="fade-up">
  <div class="container-image">
    <!-- Expanded image -->
    <img id="noa-expanded-img" style="width:100%">

    <!-- Image text -->
    <div id="imgtext" style="display:none;"></div>
  </div>
  <figcaption>
    <h3>Noa<span>Un clone d'AIR BNB développé en 5 jours pendant le bootcamp du Wagon à Paris. Noa est une application permettant de louer des animaux de compagnie dans le monde entier.</span></h3>
  </figcaption>
  <i class="fas fa-plus"><a href="https://noa321.herokuapp.com/" target="blank"></a></i>
</figure>

<div class="row columns" data-aos="fade-up">
  <div class="column">
    <%= image_tag "noa1.png", class:"d-block photos-carousel", alt:"Plat", id:"noa-first-expanded-image", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
  </div>
  <div class="column">
    <%= image_tag "noa2.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
  </div>
  <div class="column">
    <%= image_tag "noa3.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
  </div>
  <div class="column">
    <%= image_tag "noa4.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
  </div>
</div>
