<div class="preloader">
  <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
    <circle fill="#BD3231" stroke="none" cx="6" cy="50" r="6">
      <animate
        attributeName="opacity"
        dur="1s"
        values="0;1;0"
        repeatCount="indefinite"
        begin="0.1"/>
    </circle>
    <circle fill="#BD3231" stroke="none" cx="26" cy="50" r="6">
      <animate
        attributeName="opacity"
        dur="1s"
        values="0;1;0"
        repeatCount="indefinite"
        begin="0.2"/>
    </circle>
    <circle fill="#BD3231" stroke="none" cx="46" cy="50" r="6">
      <animate
        attributeName="opacity"
        dur="1s"
        values="0;1;0"
        repeatCount="indefinite"
        begin="0.3"/>
    </circle>
  </svg>
</div>

<script>
  function noScroll() {
    window.scrollTo(0, 0);
  }

  var preloader = () => {
    window.addEventListener('load', () => {
      window.addEventListener('scroll', noScroll);
      var preload = document.querySelector('.preloader');
      if (document.getElementById('about-title')) {
        preload.style.backgroundColor= "#FAFAFA"
      // var op = 1;  // initial opacity
      // var timer = setInterval(function () {
      //     if (op <= 0.1){
      //         clearInterval(timer);
      //         preload.style.display = 'none';
      //     }
      //     preload.style.opacity = op;
      //     preload.style.filter = 'alpha(opacity=' + op * 100 + ")";
      //     op -= op * 0.1;
      // }, 50);
      };
      preload.style.display = "none";
      window.removeEventListener('scroll', noScroll);
    });
  }

  preloader();
</script>
