<div class="background-black-home">
  <div class="container repeat">
    <div>
      <h1 id="title" data-aos="zoom-in">Léo Chaput</h1>
      <h2 id="subhead" data-aos="zoom-in">Développeur web fullstack</h2>
    </div>
    <p class="text">
      <span class="text__first"><span class="text__word">Conception et développement </span><span class="text__first-bg"></span></span>
      <br>
      <span class="text__second"><span class="text__word">de votre site web</span><span class="text__second-bg"></span></span>
    </p>
  </div>
  <div class="container">
    <div class="footer-home">
      <a href="https://www.linkedin.com/in/leo-chaput", target="blank"><i class="fab fa-linkedin contact-icon-projet photo-link-zoom"></i></a>
      <a href="mailto:bonjour@leochaput.com"><i class="far fa-envelope contact-icon-projet photo-link-zoom"></i></a>
    </div>
  </div>
</div>
