<div class="container">
  <h1 id="projet-title">conception, design, développement et production de votre site web</h1>

  <%= render 'shared/noa-animated-image' %>

  <%= render 'shared/hplace-animated-image' %>

</div>
