<div class="container repeat projet-title">
  <h1 class="text-projet">
    <span class="text__first"><span class="text__word">conception, design, développement </span><span class="text__first-bg"></span></span>
    <br>
    <span class="text__second"><span class="text__word">et production de votre site web</span><span class="text__second-bg"></span></span>
  </h1>
</div>
<div class="container">
  <%= render 'shared/myplace-animated-image' %>
  <%= render 'shared/hplace-animated-image' %>
  <%= render 'shared/noa-animated-image' %>
</div>

<div class="container">
  <div class="footer">
    <span class=copyright>© 2020 chaput - tous droits réservés</span>
    <a href="https://www.linkedin.com/in/leo-chaput", target="blank"><i class="fab fa-linkedin contact-icon-projet photo-link-zoom"></i></a>
    <a href="mailto:bonjour@leochaput.fr"><i class="far fa-envelope contact-icon-projet photo-link-zoom"></i></a>
  </div>
</div>
