// .about-content {
//   margin-bottom: 90px;
//   h3 {
//     color: $p-gray;
//   }
// }

.container-infos {
  margin-top: 30px;
  margin-bottom: 90px;
  h3 {
    font-size: 1em;
    color: $dark-gray;
    opacity: 0.6;
  }
}

.text-projet-contact {
  display: inline-block;
  font-weight: 900;
  // color: #353535;
  color: $dark-gray;
  font-size: 2em;
  line-height: 1.205;
  text-align: center;
  margin-top: 32px;
}


.text-contact {
  font-weight: 900;
  // color: #353535;
  color: $dark-gray;
  // font-size: 2em;
  line-height: 1.205;
  text-align: center;
  margin-top: 10vh;
}

#second-title {
  font-size: 2em;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-infos {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .text-projet-contact {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.5em;
  }
  .text-contact {
    font-size: 1.5em;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-infos {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .text-projet-contact {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.5em;
  }
  .text-contact {
    font-size: 2.5em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-infos {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .text-projet-contact {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 2.5em;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-infos {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .text-projet-contact {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-infos {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
