.image-effect {
  max-width: 900px;
  display: block;
  margin: 0px auto 10px;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  font-size: 16px;
  background-color: $background-white;
  line-height: 1.5em;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.image-effect * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.image-effect:before,
.image-effect:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.image-effect:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.image-effect:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.image-effect img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.image-effect figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.image-effect h3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.image-effect h3 span {
  display: block;
  font-weight: 300;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: none;
  font-size: 0.5em;
}

.image-effect a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.image-effect:hover > img,
.image-effect.hover > img {
  opacity: 0.7;
}

.image-effect:hover:before,
.image-effect.hover:before,
.image-effect:hover:after,
.image-effect.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.image-effect:hover figcaption,
.image-effect.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .image-effect {
    width: 95%;
  }
  .image-effect i {
    font-size: 0px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .image-effect {
    width: 95%;
  }
  .image-effect i {
    font-size: 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .image-effect {
    width: 95%;
  }
  .image-effect i {
    font-size: 0px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .image-effect {
    width: 80%;
  }
  .image-effect i {
    position: absolute;
    color: #fff;
    font-size: 34.375px;
    line-height: 55px;
    width: 55px;
    bottom: 11.5%;
    z-index: 3;
    right: 0;
    background-color: $bordeaux;
    -webkit-transform: translateX(55px);
    transform: translateX(55px);
  }
  .image-effect:hover i,
  .image-effect.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .image-effect {
    width: 80%;
  }
  .image-effect i {
    position: absolute;
    color: #fff;
    font-size: 34.375px;
    line-height: 55px;
    width: 55px;
    bottom: 11.5%;
    z-index: 3;
    right: 0;
    background-color: $bordeaux;
    -webkit-transform: translateX(55px);
    transform: translateX(55px);
  }
  .image-effect:hover i,
  .image-effect.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

