.image-effect {
  max-width: 900px;
  display: block;
  margin: 0px auto 10px;
  position: relative;
  overflow: hidden;
  width: 70%;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  line-height: 1.5em;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.image-effect *,
.image-effect *:before,
.image-effect *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.image-effect img {
  width: calc(120%);
  backface-visibility: hidden;
  vertical-align: top;
}
.image-effect figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  padding: 5px 40px;
  opacity: 0;
}
.image-effect h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.image-effect p {
  font-weight: 400;
  margin: 0;
  font-size: 0.9em;
}
.image-effect i {
  position: absolute;
  color: #fff;
  font-size: 34.375px;
  line-height: 55px;
  width: 55px;
  bottom: 0;
  right: 0;
  background-color: #c0392b;
  -webkit-transform: translateX(55px);
  transform: translateX(55px);
}
.image-effect a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.image-effect:hover img,
.image-effect.hover img {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}
.image-effect:hover figcaption,
.image-effect.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
}
.image-effect:hover i,
.image-effect.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .image-effect {
    width: 95%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .image-effect {
    width: 95%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .image-effect {
    width: 95%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .image-effect {
    width: 70%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .image-effect {
    width: 70%;
  }
}

