#contact-content {
  height: 100vh;
  background-color: black;
}

#contact-title {
  color: white;
  text-align: center;
  position: relative;
  top: 10vh;
}

#contact-mail {
  color: white;
  text-align: center;
  position: relative;
  font-size: 1.8em;
  top: 40vh;
  a {
    text-decoration: none;
    color: white;
  }
}

.contact-icon {
  position: relative;
  color: white;
  float: right;
  margin-left: 15px;
  font-size: 2em;
  top: 70vh;
}
