.text-projet {
  display: inline-block;
  font-weight: 900;
  // color: #353535;
  color: $white;
  font-size: 2em;
  line-height: 1.205;
  text-align: center;
  margin-top: 90px;
}

.projet-texte-description {
  color: $white;
  font-size: 1em;
  text-align: center;
  opacity: 0.6;
}

.arrow-icon {
  color: $white;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-black-projet {
  background-color: $background-black;
  height: calc(100vh - 82px);
}

.background-white-projet {
  background-color: $background-white;
}
.projet-title {
  margin-bottom: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .text-projet {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.5em;
    .text__second{
      margin-left: 0vmin;
    }
  }
  .arrow-icon {
    margin-top: 5vh;
  }
  .projet-texte-description {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .text-projet {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 1.5em;
    .text__second{
      margin-left: 0vmin;
    }
  }
  .arrow-icon {
    margin-top: 15vh;
  }
  .projet-texte-description {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .text-projet {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: 2.5em;
    .text__second{
      margin-left: 0vmin;
    }
  }
  .arrow-icon {
    margin-top: 25vh;
  }
  .projet-texte-description {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .text-projet {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    .text__second{
      margin-left: 0vmin;
    }
  }
  .arrow-icon {
    margin-top: 25vh;
  }
  .projet-texte-description {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .text-projet {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    .text__second{
      margin-left: 0vmin;
    }
  }
  .projet-texte-description {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
