$primary_font: "Merriweather", "Helvetica", "sans-serif";
$first_color: rgba(192, 108, 132, 0.5);
$second_color: rgba(0, 108, 132, 0.5);

#title, #subhead {
  font-family: $primary_font;
  font-size: 2em;
  line-height: 1em;
  position: relative;
  top: 50vh;
  left: 15vw;
  transform: translateY(-50%);
  &:hover {
    cursor: default;
  }

  .wrapper {
    display: inline-block;
    top: -900px;
    position: relative;
    height: 150px; /* default */
    width: 90px; /* default */
    transition: ease 0.3s all;

    span {
      position: absolute;
      top:0;
      right:0;

      transition: ease 0.3s all;

      &.letter-2 {
        color: $first_color;
      }

      &.letter-1 {
        color: $second_color;
        z-index: 1;

        &:hover {
           top: -3px;
           right: -3px;

           ~ .letter-2 {
             top: 3px;
             right: 3px;
           }
        }
      }

      &.space {
        padding: 0;
        min-width: 30px;
        display: inline-block;
      }
    }
  }
}
